/*
* Workspaces Module CSS
*/

#workspaces {
    font-weight: 900;
    background: @background;
    border: 3px @outline solid;
    border-radius: 999999px;
    padding: 2px;
}

#workspaces button {
    background: transparent;
    color: @on_background;
    border-radius: 999999px;
    padding: 0px 6px;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
}

#workspaces button:not(.empty):not(.active):not(.urgent) {
    color: @secondary;
    text-shadow:
        4px 4px 8px @secondary_fixed_dim,
        -4px 4px 8px @secondary_fixed_dim,
        4px -4px 8px @secondary_fixed_dim,
        -4px -4px 8px @secondary_fixed_dim;
}

#workspaces button.special {
    background: @error_container;
    color: @on_error_container;
}

#workspaces button.urgent {
    background: @error;
    color: @on_error;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button:not(.empty):not(.active):hover,
#workspaces button.special:hover,
#workspaces button.urgent:hover {
    background: @tertiary;
    color: @on_tertiary;
}
