@import "colors.css";

* {
    background-color: transparent;
    padding: 0.25px 5px;
    font-family: "Cartograph CF";
    color: @foreground;
    font-size: 14px;
}

#clock,
#pulseaudio,
#network,
#backlight,
#battery {
    padding: 0.5px 8px;
    border-radius: 25px;
    background-color: @color8;
}

#workspaces {
    padding: 1px 2px;
    border-radius: 25px;
    background-color: @color8;
}

#workspaces button.active {
    background-color: @background;
    border-radius: 25px;
}

tooltip {
    border-radius: 8px;
    background-color: @background;
}

tooltip label {
    color: @foreground;
}

#workspaces button {
    border-radius: 25px;
}
