@import "colors.css";

* {
    font-family:
        "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
        sans-serif;
    font-size: 16px;
}

#clock,
#battery,
#backlight,
#network,
#taskbar,
#mpris,
#custom-swaync,
#pulseaudio,
#tray,
#bluetooth,
#idle_inhibitor,
#power-profiles-daemon {
    padding: 0 10px;
    margin: 3px;
    border-radius: 8px;

    background-color: @surface;
    color: @on_surface;
}

label:focus,
#tooltip {
    background-color: @surface;
    color: @on_surface;
}

window#waybar {
    background-color: transparent;
    color: @on_surface;
}

#workspaces {
    padding: 4px 4px;
    border-radius: 0px 0px 12px 12px;

    background-color: @surface;
}

#workspaces button {
    padding: 0 5px 0 0;
    background-color: transparent;
    color: @secondary;
}

#workspaces button.empty:not(.active) {
    opacity: 0.3;

    color: @secondary_fade;
}

#workspaces button.active {
    color: @primary;
}
#workspaces button:not(.active) {
    padding-left: 5px;
}

#workspaces button:hover {
    background-color: @tertiary;
    color: @on_tertiary;
    opacity: 1;
}

#workspaces button.focused {
    background-color: @tertiary;
    color: @on_tertiary;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
}

#taskbar {
    padding: 0px;
}

#taskbar button {
    padding: 0px 5px;
}

#taskbar button:hover {
    background-color: @primary;
}

#battery {
    margin: 4px;

    background-color: @surface;
    color: @on_surface;
}

#battery.charging {
    background-color: @primary;
    color: @on_primary;
}

#battery.plugged {
    color: @on_tertiary;
    background-color: @tertiary;
}

#battery.full {
    background-color: @secondary;
    color: @on_secondary;
}

@keyframes blink {
    to {
        background-color: @on_error;
        color: @error;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#bluetooth.disabled,
#bluetooth.no-controller,
#bluetooth.off {
    background-color: @error;
    color: @on_error;
}

#bluetooth.connected {
    background-color: @primary;
    color: @on_primary;
}

#bluetooth.discoverable,
#bluetooth.pairable {
    background-color: @tertiary;
    color: @on_tertiary;
}

#power-profiles-daemon {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#power-profiles-daemon.performance {
    padding-right: 11px;
    background-color: @error;
    color: @on_error;
}

#power-profiles-daemon.balanced {
    padding-right: 18px;
}

#power-profiles-daemon.power-saver {
    padding-right: 15px;
    background-color: @tertiary;
    color: @on_tertiary;
}

#network {
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
}

#network:hover {
    background-color: @tertiary;
    color: @on_tertiary;
}

#network.disabled,
#network.disconnected {
    background-color: @error;
    color: @on_error;
}

#pulseaudio {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
    background-color: @error;
    color: @on_error;
}

#pulseaudio.bluetooth {
    background-color: @primary;
    color: @on_primary;
}

#pulseaudio:hover {
    background-color: @tertiary;
    color: @on_tertiary;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @error;
}

#idle_inhibitor {
    padding-right: 12px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#idle_inhibitor.activated {
    background-color: @error;
    color: @on_error;
}

#mpris.playing {
    background-color: @primary;
    color: @on_primary;
}

#mpris.stopped {
    background-color: @error;
    color: @on_error;
}

#backlight {
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
