/**
 * ░█▀▄░█▀█░█▀▀░▀█▀░░░░░░░░░█▀█░█▀█░█▀█░░░█░░░█▀█░█░█░█▀█░█▀▀░█░█░█▀▀░█▀▄
 * ░█▀▄░█░█░█▀▀░░█░░░░▄▄▄░░░█▀█░█▀▀░█▀▀░░░█░░░█▀█░█░█░█░█░█░░░█▀█░█▀▀░█▀▄
 * ░▀░▀░▀▀▀░▀░░░▀▀▀░░░░░░░░░▀░▀░▀░░░▀░░░░░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀
 */


configuration {
    modi:                        "drun,filebrowser,window,run";
    show-icons:                  true;
    drun-display-format:         "{name}";
    window-format:               "{w} {t}";
}


@import "~/.dotfiles/.config/rofi/colors.rasi"

window {
    height:                      60%;
    width:                       80%;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border-radius:               1em;
    border-color:                @outline;
    background-color:            transparent;
}
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.8em;
    orientation:                 horizontal;
    children:                    [ "inputbar" , "listbox" ];
    background-color:            @surface-alpha;
}

inputbar {
    enabled:                     true;
    width:                       0%;
    spacing:                     0em;
    padding:                     0em;
    children:                    [ "entry" ];
    expand:                      false;
    background-color:            @surface-alpha;
    background-image:            @image-height;
    border-radius:               1em 0em 0em 1em;
}
entry {
    enabled:                     false;
}

listbox {
    spacing:                     0em;
    padding:                     0em;
    children:                    [ "dummy" , "listview" , "dummy" ];
    background-color:            @surface-alpha;
    border-radius:               0em 1em 1em 0em;
}
listview {
    enabled:                     true;
    spacing:                     0em;
    padding:                     1em 2em 1em 2em;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    expand:                      false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @on-surface;
}
dummy {
    background-color:            transparent;
}

element {
    enabled:                     true;
    spacing:                     1em;
    padding:                     0.5em 0.5em 0.5em 1.5em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @on-surface;
    border-radius:               0.5em;
}
element selected.normal {
    background-color:            @primary;
    text-color:                  @on-primary;
}
element-icon {
    size:                        2.2em;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

error-message {
    text-color:                  @on-error;
    background-color:            @error;
    text-transform:              capitalize;
    children:                    [ "textbox" ];
}

textbox {
    text-color:                  inherit;
    background-color:            inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
