/**
 * ░█▀▄░█▀█░█▀▀░▀█▀░░░░░░░░░█░█░█▀█░█░░░█░░░░░█▀▀░█▀▀░█░░░█▀▀░█▀▀░▀█▀
 * ░█▀▄░█░█░█▀▀░░█░░░░▄▄▄░░░█▄█░█▀█░█░░░█░░░░░▀▀█░█▀▀░█░░░█▀▀░█░░░░█░
 * ░▀░▀░▀▀▀░▀░░░▀▀▀░░░░░░░░░▀░▀░▀░▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░░▀░
 */

configuration {
    modi:                   	  "drun";
    show-icons:             	  true;
    drun-display-format:    	  "{name}";
    hover-select:           	  true;
    me-select-entry:        	  "MouseSecondary";
    me-accept-entry:        	  "MousePrimary";

}

@import "~/.dotfiles/.config/rofi/colors.rasi"

* {
    border-radius:               0px;
}

window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       100%;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                transparent;
    background-color:            transparent;
}

mainbox {
    enabled:                     true;
    children:                    [ "listview" ];
    background-color:            @surface-alpha;
}

listview {
    enabled:                     true;
    columns:                     6;
    lines:                       1;
    spacing:                     10px;
    padding:                     10px;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @on-surface;
}

element {
    enabled:                     true;
    orientation:                 vertical;
    spacing:                     5px;
    padding:                     5px;
    border-radius:               20px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @on-surface;
}

@media(max-aspect-ratio: 1.8) {
    element {
        orientation:             vertical;
    }
}

element selected.normal {
    background-color:            @primary;
    text-color:                  @on-primary;
}

element-icon {
    size:                        320px;  /* Adjust as needed */
    border-radius:               20px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

element-text {
    vertical-align:              1.0;
    horizontal-align:            0.5;
    padding:                     5px 0px 3px 0px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

message {
    background-color:            transparent;
    border:			 0px;
    margin:			 20px 0px 0px 0px;
    padding:0px;
    spacing:0px;
    border-radius: 10px;
}

textbox {
    padding:                     15px;
    margin:                      0px;
    border-radius:               0px;
    background-color:            @surface-alpha;
    text-color:                  @on-surface;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

error-message {
    padding:                     15px;
    border-radius:               20px;
    background-color:            @error;
    text-color:                  @on-error;
}
