@import "colors.css";

* {
    font-family:
        "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
        sans-serif;
}

:root {
    --border: 1px solid @outline;
    --border-radius: 8px;
    --notification-shadow:
        0 0 0 1px @shadow_fade, 0 1px 3px 1px @shadow_soft,
        0 2px 6px 2px @shadow_fade;
    --font-size-body: 12px;
    --font-size-summary: 14px;
    --hover-tranistion: background 0.15s ease-in-out;
    --group-collapse-tranistion: opacity 400ms ease-in-out;
}

notificationwindow,
blankwindow,
blankwindow {
    background: transparent;
}

.close-button {
    /* The notification Close Button */
    background: @error_container;
    color: @on_error_container;
    text-shadow: none;
    padding: 0;
    border-radius: var(--border-radius);
    margin-top: 8px;
    margin-right: 8px;
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    box-shadow: none;
    background: @error;
    transition: @on_error;
    border: none;
}

.notification-row {
    outline: none;
}

.notification-row .notification-background {
    padding: 6px 12px;
    background-color: transparent;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 0;
    transition: var(--hover-tranistion);
    background: @surface_soft;
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
}

.notification-row
    .notification-background
    .notification
    .notification-default-action {
    /* The large action that also displays the notification summary and body */
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: transparent;
    border: none;
    color: @on_surface;
    transition: var(--hover-tranistion);
    border-radius: var(--border-radius);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action:hover {
    -gtk-icon-filter: none;
    background: @surface_container;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action:not(:only-child) {
    /* When alternative actions are visible */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content {
    background: transparent;
    border-radius: var(--border-radius);
    padding: 0;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .image {
    /* Notification Primary Image */
    -gtk-icon-filter: none;
    -gtk-icon-size: 56px;
    border-radius: 100px;
    /* Size in px */
    margin: 4px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-filter: none;
    -gtk-icon-size: 18px;
    -gtk-icon-shadow: 0 1px 4px black;
    margin: 6px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    label {
    /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
    filter: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    .summary {
    /* Notification summary/title */
    font-size: var(--font-size-summary);
    font-weight: bold;
    background: transparent;
    color: @on_surface;
    text-shadow: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    .time {
    /* Notification time-ago */
    font-size: var(--font-size-summary);
    font-weight: bold;
    background: transparent;
    color: @on_surface;
    text-shadow: none;
    margin-right: 30px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .text-box
    .body {
    /* Notification body */
    font-size: var(--font-size-body);
    font-weight: normal;
    background: transparent;
    color: @on_surface;
    text-shadow: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    progressbar {
    /* The optional notification progress bar */
    margin-top: 4px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .body-image {
    /* The "extra" optional bottom notification image */
    margin-top: 4px;
    background-color: white;
    -gtk-icon-filter: none;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply {
    /* The inline reply section */
    margin-top: 4px;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-entry {
    background: @surface;
    color: @on_surface;
    caret-color: @on_surface;
    border: var(--border);
    border-radius: var(--border-radius);
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button {
    margin-left: 4px;
    background: @surface_soft;
    border: var(--border);
    border-radius: var(--border-radius);
    color: @on_surface;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button:disabled {
    background: initial;
    color: @on_surface_variant;
    border: var(--border);
    border-color: transparent;
}

.notification-row
    .notification-background
    .notification
    .notification-default-action
    .notification-content
    .inline-reply
    .inline-reply-button:hover {
    background: @surface_container;
}

.notification-row
    .notification-background
    .notification
    .notification-alt-actions {
    background: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    margin: 4px;
    padding: 0;
}

.notification-row
    .notification-background
    .notification
    .notification-action
    > button {
    border-radius: var(--border-radius);
    color: @on_surface;
}

.notification-group {
    border-radius: var(--border-radius);
    /* Styling only for Grouped Notifications */
    transition: opacity 200ms ease-in-out;
    background-color: @surface;
    /* The groups close button */
}

.notification-group:focus {
    background: @surface_container;
    color: @on_surface_container;
}

.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Low Priority Group */
}

.notification-group.critical {
    /* Low Priority Group */
}

.notification-group .notification-group-close-button .close-button {
    margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
    margin: 0 16px;
    color: @on_surface;
}

.notification-group .notification-group-headers {
    /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
    color: @on_surface;
    -gtk-icon-size: 16px;
}

.notification-group .notification-group-headers .notification-group-header {
    font-size: 1rem;
    color: @on_surface;
}

.notification-group .notification-group-buttons {
    /* Notification Group Buttons */
    border-radius: var(--border-radius);
}

.notification-group.collapsed {
    /* When another group is expanded, lower the opacity of the collapsed ones */
}

.notification-group.collapsed.not-expanded {
    opacity: 0.4;
}

.notification-group.collapsed .notification-row .notification {
    background-color: @surface;
    color: @on_surface;
}

.notification-group.collapsed .notification-row:not(:last-child) {
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed
    .notification-row:not(:last-child)
    .notification-action,
.notification-group.collapsed
    .notification-row:not(:last-child)
    .notification-default-action {
    opacity: 0;
}

.notification-group.collapsed:hover
    .notification-row:not(:only-child)
    .notification {
    background-color: @surface_container;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    padding: 0px;
    margin: 0px;
    border-radius: var(--border-radius);
    background-color: @surface_container_low;
    color: @on_surface;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background-color: @surface_container_high;
}

/* Control Center */

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    background: transparent;
    color: @on_surface;
    border-radius: var(--border-radius);
}

.control-center .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 0.5;
}

.control-center .control-center-list {
    /* List of notifications */
    background: transparent;
}

.control-center .control-center-list .notification {
    box-shadow: var(--notification-shadow);
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
    transition: var(--group-collapse-tranistion), var(--hover-tranistion);
}

.control-center
    .control-center-list
    .notification
    .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
    background-color: @surface_container;
}

.blank-window {
    /* Window behind control center and on all other monitors */
    background: transparent;
}

.floating-notifications {
    background: transparent;
}

.floating-notifications .notification {
    box-shadow: none;
    background-color: @surface;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
    background-color: @surface;
}

.widget-title > label {
    margin-right: 8px;
    font-size: 1rem;
    color: @on_surface;
}

.widget-title > button {
    margin-left: 8px;
    padding: 0px 12px;
    border-radius: var(--border-radius);
}

.widget-title > button:hover {
    background-color: @primary;
    color: @on_primary;
}

/* DND widget */
.widget-dnd {
    background-color: @surface;
}

.widget-dnd label {
    margin-right: 8px;
    font-size: 1rem;
    color: @on_surface;
}

.widget-dnd switch {
    border-radius: var(--border-radius);
    margin-left: 8px;
    background-color: @primary_container;
}

.widget-dnd switch:checked {
    border-radius: var(--border-radius);
    margin-left: 8px;
    background-color: @primary;
}

.widget-dnd switch slider {
    border-radius: var(--border-radius);
    background-color: @on_primary_container;
}

.widget-dnd switch:checked slider {
    border-radius: var(--border-radius);
    background-color: @on_primary;
}

/* Mpris widget */
:root {
    --mpris-album-art-overlay: @surface_soft;
    --mpris-button-hover: @secondary_fade;
    --mpris-album-art-icon-size: 108px;
    --mpris-album-art-shadow: 0px 0px 10px @surface_soft;
}

.widget-mpris {
    padding: 0;
    /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
    margin: 0px;
    border-radius: var(--border-radius);
    box-shadow: var(--mpris-album-art-shadow);
}

.widget-mpris .widget-mpris-player .mpris-background {
    filter: blur(10px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
    padding: 16px;
    background-color: var(--mpris-album-art-overlay);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    background: @surface_container;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
    border-radius: var(--border-radius);
    box-shadow: var(--mpris-album-art-shadow);
    -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
    font-weight: bold;
    font-size: 1rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
    font-size: 0.75rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button {
    /* Change player control buttons */
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
    background-color: var(--mpris-button-hover);
}

.widget-mpris > box > button {
    /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
    /* Change player side buttons insensitive */
}

/* Inhibitors widget */
.widget-inhibitors > label {
    margin-right: 8px;
    font-size: 1.5rem;
}

.widget-inhibitors > button {
    margin-left: 8px;
    border-radius: var(--border-radius);
}
